.decition-title{
    padding-top: 200px;
    padding-bottom: 230px;
}

.button-first{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    width: 216px;
    height: 50px;
}

.logo{
    padding-left: 215px;
    padding-bottom: 25px;
}

.nav-link{
    padding-left: 453px;
    padding-bottom: 32px;
}

.footer-logo{
    padding-left: 215px;
}

.address-place{
    padding-left: 215px;
}

.team-headline{
    padding-top: 94px;
    padding-bottom: 50px;
}

.text-title{
padding-left: 215px;
padding-bottom: 13px;
}

.text-info{
    padding-left: 215px;
}

.work-title{
    padding-left: 201qpx;
}

.work-foto{
    padding-top: 58px;
}

.team-title{
    padding-left: 143px;
}

.team-info{
    padding-left: 143px;
    padding-bottom: 10px;
}

.address-link{
    padding-left: 1078px;
    padding-bottom: 32px;
}