.header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.work-title{
    padding-left: auto;
    padding-right: auto;
}

.work-list{
    margin-top: 50px;
}

.team-info{
    padding-bottom: 124px;
}

.conteiner{
    padding-left: 215px;
    padding-right: 215px;
    outline: soli red;
}