a{
text-decoration: none;
}

ul{
list-style: none;
}

.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-two{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:#000 ;
}

.nav-link{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.nav-link:hover{
color: #2196F3;
}

.address-link{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.address-link:hover{
    color: #2196F3;
}

.header-nav{
    display: flex;
    align-items: center;
}

.decision{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;;
}

.decition-title{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.button-first{
    width: 216px;
    height: 50px;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    background-color: #2196F3;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
}

.text-list{
padding-top: 94px;
padding-bottom: 94px;
}

.text-item{
    max-width: 270px;
}

.text-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.text-info{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.text-list{
    display: flex;
    gap: 30px;
}

.work-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.work-foto{
    width: 370px;
    height: 294px;
}

.team-headline{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 94px;
    margin-bottom: 50px;
}

.team-list{
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

.team-info{
    padding-bottom: 124px;
}

.first-man{
    width: 270px;
    height: 260px;
}

.second-man{
    width: 270px;
    height: 260px;
}

.third-man{
    width: 270px;
    height: 260px; 
}

.fourth-man{
    width: 270px;
    height: 260px;
}

.team-title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-info{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer-title{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3; 
}

.address-place{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.decition-title{
    background: #2F303A;
}

.footer{
    background: #2F303A;
}

.nav-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.nav-link{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    }

.nav-link:hover{
color: #2196F3;
}

.address-link{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;    
}
        
.address-link:hover{
color: #2196F3;
}



.footer-logo{
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-bottom: 20px;

}

.two-logo{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
}

.info-three{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.info-four{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.nav-one{
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.address{
    margin-left: 344px;
    display: flex;
    gap: 50px;
}

.nav-address{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    margin-left: 344px;
    display: flex;
    gap: 50px;
}

.nav-address:hover{
    color: #2196F3;
}