:root {
    --black: #000000;
    --black-2: #212121;
    --black-3: #2F303A;
    --blue: #2196F3;
    --gray: #757575;
    --gray-2: #AFB1B8;
    --white: #FFFFFF;
    --white-2: #F5F4FA;
    --white-3: #ECECEC;
    --white-4: #C4C4C4;
}

.nav-link:focus {
    color: var(--blue);
}

.address-link:focus {
    color: var(--blue);
}

.nav-focus:focus {
    fill: var(--blue);
}

.decition-button:focus {
    color: var(--white);
    background-color: var(--blue);
    border: none;
}

.text-link:focus {
    border: 1px solid var(--white-3);
    background: var(--white);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    border-bottom: solid var(--white-3);

}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
}

.logo-two {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black);
}

.nav-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-2);
}

.address-link:hover {
    color: var(--blue);
}

.address-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--gray);
}

.address-link:hover {
    color: var(--blue);
}

.address-box {
    display: flex;
}

.address-box:hover .address-icon {
    fill: var(--blue);
}

.address-box:hover .address-link {
    color: var(--blue);
}

.address-icon:nth-child(1) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--gray);
}

.address-icon:nth-child(2) {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--gray);
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-one {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.address {
    margin-left: 310px;
    display: flex;
    gap: 30px;
}

.address-box {
    display: flex;
    align-items: center;
}

.main-liste {
    display: block;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.main-section {
    padding-top: 94px;
    padding-bottom: 50px;
}

.decition-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--black-2);
    background: var(--white-2);
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
}

.decition-button:hover {
    color: var(--white);
    background-color: var(--blue);
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.text-info {
    padding-bottom: 94px;
}

.text-box {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-item {
    border: 1px solid #EEE;
    background: #FFF;
    max-width: 370px;
    flex-basis: calc((100% - (30px * 2)) / 3);
}

.text-item:hover {
    border: 1px solid var(--white-3);
    background: var(--white);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.text-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.text-foto {
    width: 370px;
    height: 294px;
}

.text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--gray);
    margin-top: 4px;
}

.text-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-2);
}

.footer-logo {
    color: var(--blue);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.two-logo {
    color: var(--white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.footer-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
}

.address-place {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white);
    margin-bottom: 9px;
}

.address-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.60);
}

.footer {
    background: var(--black-3);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box {
    display: flex;
}

.box-1 {
    margin-right: 70px;
}

.list-icon {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.box-2 {
    padding-top: 12px;
}

.box-2-icon {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.box-2-item {
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
}

.box-2-item:hover {
    background-color: var(--blue);
}

.footer-title {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}