.header{
    padding-top: 24px;
    padding-bottom: 24px;
}

button{
    cursor: pointer;
}

.conteiner{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}