/*.nav-focus:focus {
    fill: var(--blue);
}*/

.header {
    border-bottom: solid $header-underline-color;
    padding-bottom: 24px;
    padding-top: 24px;

    &__link:focus {
        color: $button-hover-color;
    }

    &__link2:focus {
        color: $button-hover-color;
    }

    &__logo {
        @extend %logo;
        color: $button-hover-color;
    }

    &__logo-2 {
        @extend %logo;
        color: $text-title-color;
    }

    &__link {
        @extend %contact-pages;
        color: $background-color;
        position: relative;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }

    &__link:hover {
        color: $button-hover-color;
    }

    &__link::after {
        content: "";
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: $button-hover-color;
        opacity: 0;
        position: absolute;
        bottom: -31px;
        display: block;
        transition-property: opacity, transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(0);
    }

    &__link:hover::after {
        opacity: 1;
        transform: scale(1);
    }

    &__link-2:hover {
        color: $button-hover-color;
    }

    &__link-2 {
        @extend %contact-pages;
        color: $small-text-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }

    &__link-2:hover {
        color: $button-hover-color;
    }

    &__box:hover &__icon {
        fill: $button-hover-color;
    }

    &__box:hover &__link2 {
        color: $button-hover-color;
    }

    &__icon {
        width: 14px;
        height: 10px;
        margin-right: 10px;
        fill: $small-text-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }

    &__icon-2 {
        width: 10px;
        height: 14px;
        margin-right: 10px;
        fill: $small-text-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }

    &__nav {
        @include flex-box($align-horisontal: start);
    }

    &__list {
        display: none;

        @media screen and (min-width: 768px) {
            @include flex-box($gap: 50px);
            margin-left: 87px;
        }

        @media screen and (min-width: 1200px) {
            @include flex-box($gap: 50px);
            margin-left: 93px;
        }
    }

    &__address {
        display: none;

        @media screen and (min-width: 768px) {
            margin-left: 96px;
            @include flex-box($gap: 10px, $align-vertikal: start);
            flex-direction: column;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 310px;
            @include flex-box($gap: 30px);
            flex-direction: row;
        }
    }

    &__box {
        @include flex-box();
    }

}