.nav-focus:focus {
    fill: var(--blue);
}

.header {
    border-bottom: solid $header-underline-color;

    &__link:focus {
        color: $button-hover-color;
    }

    &__link2:focus {
        color: $button-hover-color;
    }

    &__logo {
        @extend %title-fonst2;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $button-hover-color;
    }

    &__logo2 {
        @extend %title-fonst2;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $text-title-color;
    }

    &__link {
        @extend %title-fonst;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $background-color;
        position: relative;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }

    &__link:hover {
        color: $button-hover-color;
    }

    &__link::after {
        content: "";
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: $button-hover-color;
        opacity: 0;
        position: absolute;
        bottom: -31px;
        display: block;
        transition-property: opacity, transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(0);
    }

    &__link:hover::after {
        opacity: 1;
        transform: scale(1);
    }

    &__link2:hover {
        color: $button-hover-color;
    }

    &__link2 {
        @extend %title-fonst;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $small-text-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }

    &__link2:hover {
        color: $button-hover-color;
    }

    &__box:hover &__icon {
        fill: $button-hover-color;
    }

    &__box:hover &__link2 {
        color: $button-hover-color;
    }

    &__icon:nth-child(1) {
        width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: $small-text-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }

    &__icon:nth-child(2) {
        width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: $small-text-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__one {
        display: flex;
        gap: 50px;
        margin-left: 93px;
    }

    &__address {
        margin-left: 310px;
        display: flex;
        gap: 30px;
    }

    &__box {
        display: flex;
        align-items: center;
    }

}