$text-title-color: #000000;
$background-color: #212121;
$background-footer-color: #2F303A;
$button-hover-color: #2196F3;
$small-text-color: #757575;
$icon-color: #AFB1B8;
$text-color: #ffffff;
$section-icon-btn-color: #F5F4FA;
$header-underline-color: #ECECEC;