:root {
    --black: #000000;
    --black-2: #212121;
    --black-3: #2F303A;
    --blue: #2196F3;
    --gray: #757575;
    --gray-2: #AFB1B8;
    --white: hsl(0, 0%, 100%);
    --white-2: #F5F4FA;
    --white-3: #ECECEC;
    --white-4: #C4C4C4;
}