.decision {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--black-3);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-index.webp);
}

.decition-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.button-first {
    width: 216px;
    height: 50px;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: var(--white);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    background-color: var(--blue);
    font-size: 16px;
    border-radius: 5px;
    border: 0;
}