.decision {

    &__title {
        @extend %title-fonts;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        color: $text-color;
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
    }

    &__buttonfirst {
        width: 216px;
        height: 50px;
        border-radius: 4px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        color: $text-color;
        @extend %title-fonts;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        background-color: $button-hover-color;
        font-size: 16px;
        border-radius: 5px;
        border: 0;
    }


    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $background-footer-color;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/background-index.webp);
}