.address-link:focus {
    color: var(--blue);
}

.nav-focus:focus {
    fill: var(--blue);
}

.nav-link:focus {
    color: var(--blue);
}

.header {
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 80px;
    background-color: var(--white);
    border-bottom: solid var(--white-3);
    z-index: 2;*/

    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--blue);
    }

    &__logo--two {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--black);
    }

    &__link {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--black-2);
        position: relative;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }

    &__link:hover {
        color: var(--blue);
    }

    &__link::after {
        content: "";
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--blue);
        opacity: 0;
        position: absolute;
        bottom: -31px;
        display: block;
        transition-property: opacity, transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(0);
    }

    &__link:hover::after {
        opacity: 1;
        transform: scale(1);
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__icon {
        fill: var(--gray);
        width: 16px;
        height: 10px;
    }

    &__address--link {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--gray);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }

    &__address--link:hover {
        color: var(--blue);
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__box:hover .address-icon {
        fill: var(--blue);
    }

    &__box:hover .address-link {
        color: var(--blue);
    }

    &__icon {
        width: 16px;
        height: 12px;
        flex-shrink: 0;
        margin-right: 10px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }

}