.address-link:focus {
    color: var(--blue);
}

.nav-focus:focus {
    fill: var(--blue);
}

.nav-link:focus {
    color: var(--blue);
}

.header {
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 80px;
    background-color: var(--white);
    border-bottom: solid var(--white-3);
    z-index: 2;*/

    &__logo {
        @extend %title-fonts2;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $button-hover-color;
    }

    &__logo--two {
        @extend %title-fonts2;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $text-title-color;
    }

    &__link {
        @extend %title-fonts;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $background-color;
        position: relative;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }

    &__link:hover {
        color: $button-hover-color;
    }

    &__link::after {
        content: "";
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: $button-hover-color;
        opacity: 0;
        position: absolute;
        bottom: -31px;
        display: block;
        transition-property: opacity, transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(0);
    }

    &__link:hover::after {
        opacity: 1;
        transform: scale(1);
    }

    &__nav {
        @include flex-box;
    }

    &__list  {
        @include flex-box($gap: 50px);
        margin-left: 93px;
    }

    &__icon {
        fill: $small-text-color;
        width: 16px;
        height: 10px;
    }

    &__contact {
        @extend %title-fonts;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--gray);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }

    &__contact:hover {
        color: $button-hover-color;
    }

    &__box {
        @include flex-box;
    }

    &__box:hover &__icon {
        fill: $button-hover-color;
    }

    &__box:hover &__link {
        color: $button-hover-color;
    }

    &__icon {
        width: 16px;
        height: 12px;
        flex-shrink: 0;
        margin-right: 10px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }

    &__addresses {
        @include flex-box($gap: 27px);
        margin-left: 315px;
    }
}