.modal-svg:focus {
    fill: $button-hover-color;
}

.modal {
    &__backdrop {
        @include flex-box();
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.20);
        position: fixed;
        left: 0px;
        top: 0px;
        backdrop-filter: 1px;
        /*transition: opacity 250ms linear , visibility 250ms linear;*/
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        transition-property: opacity visibility;
    }

    &__modal-section {
        max-width: 450px;
        width: 100%;
        height: 609px;
        flex-shrink: 0;
        border-radius: 4px;
        background: $text-color;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
        padding-top: 8px;
        padding-right: 8px;

        @media screen and (min-width: 768px) {
            max-width: 450px;
            height: 609px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 528px;
            height: 581px;
        }
    }

    &__modal-close {
        width: 18px;
        height: 18px;
        fill: $text-title-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }

    &__button-second:hover &__modal-close {
        fill: $button-hover-color;
    }

    &__button-second {
        display: block;
        background-color: transparent;
        border-radius: 50%;
        border-color: rgba(0, 0, 0, 0.10);
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        margin-left: auto;
    }

    &__title {
        color: $background-color;
        text-align: center;
        @extend %mobile-modal-title;
        margin-top: 2px;
    }

    &__text {
        color: $small-text-color;
        @extend %sing-up-text;
        margin-bottom: 4px;
        margin-top: 10px;
    }

    &__text-two {
        color: $small-text-color;
        @extend %sing-up-text;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: start;
    }

    &__text:nth-child(1) {
        width: 22px;
        height: 14px;
    }

    &__text:nth-child(2) {
        width: 58px;
        height: 14px;
    }

    &__text:nth-child(3) {
        width: 41px;
        height: 14px;
    }

    &__text:nth-child(4) {
        width: 57px;
        height: 14px;
    }

    &__list {
        @include flex-box($align-horisontal: start, $align-vertikal: start);
        flex-direction: column;
        margin-top: 2px;

        @media screen and (min-width: 1200px) {
            @include flex-box($align-horisontal: );
        }
    }

    &__write-modal {
        display: block;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        width: 448px;
        height: 40px;
        padding: 0px 42px 0px 42px;
        @extend %sing-up-text;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-radius, border, color;
    }

    &__write-modal-2 {
        display: block;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        width: 448px;
        height: 120px;
        padding: 0px 42px 0px 42px;
        @extend %sing-up-text;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-radius, border, color;
    }

    &__write-modal-big:hover {
        border-radius: 4px;
        border: 1px solid $button-hover-color;
    }

    &__conditions-text {
        color: $small-text-color;
        @extend %small-text;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }

    &__conditions-text-two {
        color: $button-hover-color;
        text-decoration: underline;
    }

    &__send-btn {
        border-radius: 4px;
        background: $button-hover-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: $text-color;
        text-align: center;
        @extend %button;
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        border: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__box {
        @include flex-box();
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 12px;
        padding-right: 51px;
    }

    &__item {
        position: relative;
    }

    &__div:hover &__write-modal {
        border-radius: 4px;
        border: 1px solid $button-hover-color;
    }

    &__div:hover &__svg {
        fill: $button-hover-color;
    }

    &__checkbox {
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        border-radius: 2px;
        width: 16px;
        height: 15px;
        color: $background-color;
        margin-right: 8.38px;
        background-color: $button-hover-color;
    }

    &__svg {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 12px;
        bottom: 11px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}