.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $section-icon-btn-color;

    @media screen and (min-width: 738px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
    }

    &__worker {
        border-radius: 0px 0px 4px 4px;
        background: $text-color;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

        @media screen and (min-width: 768px) {
            max-width: 354px;
        }
    }

    &__man {
        width: 100%;
    }

    &__headline {
        @extend %mobile-section-title;
        text-align: center;
        color: $background-color;
        margin-bottom: 30px;
        

        @media screen and (min-width: 738px) {
        margin-bottom: 30px;
        }

        @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        letter-spacing: 1.08px;
        }
    }

    &__list {
        @include flex-box($gap: 30px, $wraping: wrap);

        @media screen and (min-width: 738px) {
            @include flex-box($gap: 30px, $wraping: wrap);
        }

        @media screen and (min-width: 1200px) {
            @include flex-box($gap: 30px);
        }


    }

    &__title {
        @extend %employee-name;
        text-align: center;
        color: $background-color;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__info {
        @extend %employee-info;
        text-align: center;
        color: $small-text-color;
        margin-top: 10px;
        margin-bottom: 16px;
    }

    &__icons {
        @include flex-box($gap: 10px);
        margin-left: 32px;
        margin-right: 32px;
        padding-bottom: 30px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: $icon-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    }

    &__icoitem {
        padding: 12px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
    }

    &__icoitem:hover &__icon {
        fill: $text-color;
    }

    &__icoitem:hover {
        background-color: $button-hover-color;
    }
}