.text {
    background: $text-color;

    &__list {
        padding-top: 94px;
        padding-bottom: 94px;
        display: flex;
        gap: 30px;
    }

    &__item {
        max-width: 270px;
    }

    &__icon {
        width: 270px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 4px;
        background: $section-icon-btn-color;
        margin-bottom: 30px;
        padding: 25px 100px 25px 100px;
    }

    &__title {
        @extend %title-fonts;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $background-color;
    }

    &__info {
        @extend %title-fonts;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $small-text-color;
        display: flex;
        gap: 30px;
        margin-top: 10px;
    }
}