.text {
    background: $text-color;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 738px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }


    &__list {
        @include flex-box($gap: 30px, $wraping: wrap);

        @media screen and (min-width: 738px) {
            @include flex-box($gap: 30px, $wraping: wrap);
        }

        @media screen and (min-width: 1200px) {
            @include flex-box($gap: 30px, $align-vertikal: flex-start);
        }

    }

    &__item {
        width: 450px;

        @media screen and (min-width: 738px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__icon {
        width: 450px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 4px;
        background: $section-icon-btn-color;
        margin-bottom: 30px;
        padding: 25px 190px 25px 190px;

        @media screen and (min-width: 738px) {
            width: 354px;
            height: 120px;
            padding: 25px 142px 25px 142px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 120px;
            padding: 25px 100px 25px 100px;
        }

    }

    &__title {
        @extend %text;
        color: $background-color;
    }

    &__info {
        @extend %small-text;
        color: $small-text-color;
        @include flex-box($gap: 30px);
        margin-top: 10px;
    }
}