.work {
    padding-bottom: 94px;
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }

    &__title {
        @extend %section-title;
        text-align: center;
        color: $background-color;
    }

    &__list {
        @include flex-box($gap: 30px);
        margin-top: 50px;
    }

    &__foto {
        width: 370px;
        height: 294px;
    }

    &__item {
        position: relative;
    }

    &__box {
        @include flex-box();
        color: $text-color;
        @extend %text;
        text-transform: uppercase;
        width: 370px;
        height: 70px;
        flex-shrink: 0;
        background: rgba(47, 48, 58, 0.80);
        border: none;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

}